<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.Moviemoving.mapper.BookmarkMapper">
    <insert id="insert">
        insert into Bookmark(user_id, movieinfo_no)
        values 
          (#{user_id}, #{movieinfo_no})
    </insert>

 	<select id="select" resultType="com.Moviemoving.domain.MovieVO">
 		select a.user_id, a.movieinfo_no, b.movieinfo_title, b.movieinfo_no, b.movieinfo_bkimg
		from bookmark a,
		    movieinfo b
		where a.movieinfo_no = b.movieinfo_no
 	</select>
 </mapper>