<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.Moviemoving.mapper.MemberMapper">
	<insert id="insertMember" parameterType="string">
		insert into UserTBL(User_id, User_pw, User_name) values(#{User_id},#{User_pw},#{User_name})
	</insert>
	
	
</mapper>